#open {
  #openHeader.row {
    font-size: 2em;
  }
  img {
    width: 100%;
  }

  #detailsCountdown {
    font-size: 0.5em;
  }

  #qr {
    img {
      width: 300px;
    }
  }
}

.urlPopOver.popover.show {
  max-width: 550px;

  .popover-header {
    margin-top: 0;
  }
}

#detailsBody {
  padding: 5%;
}
