.container {
  .info {
    h1,
    h2 {
      font-weight: 400;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.25em;
    }
  }
}
.myCustomStyleClass {
  color: #2eaded;
}
.glyphicon.glyphicon-lock {
  color: green;
}

#poweredBy {
  font-size: 0.75em;

  p {
    margin-bottom: 0;
  }

  img {
    width: 13%;
  }
}
