@import "~bootstrap-less/bootstrap/index";
@import "less/BadgerButton";
@import "less/BIP70";
@import "less/Card";
@import "less/Copied";
@import "less/Details";
@import "less/Expired";
@import "less/Info";
@import "less/NeedHelp";
@import "less/Open";
@import "less/Paid";
@import "less/PoweredBy";

@brand: #0ac18e;

body {
  background: #fbfcff;
  text-align: center;
  color: #212529;
  font-family: "Gilroy", sans-serif;

  .brandGreen {
    color: @brand;
  }

  .brandGreenBackground {
    background: @brand;
  }

  .container .jumbotron,
  .container-fluid .jumbotron {
    background: white;
  }
}

#badgerButton {
  button {
    background: @brand;
    color: white;
    width: 200px;
    height: 50px;
    margin-bottom: 2%;
    font-size: 1.5em;
    font-family: "Gilroy", sans-serif;
  }
}
