@import "~bootstrap/less/bootstrap";
@import "components/BIP70";
body {
  background: #f5f5f7;
  text-align: center;

  .container .jumbotron,
  .container-fluid .jumbotron {
    background: white;
  }
}
